.about-content{
    height: 80%;
    position: relative;
}
.a-underline {
    margin: 20px 0px 20px 0px;
    width: 5rem;
    height: 0.25rem;
    background: #49a6e9;
    background-color: var(--clr-primary-7);
}
.about-content h3{
    position: absolute;
    right: 0;
    bottom: 10px;
}
.lets-talk{
    background-color: var(--clr-primary-9);
}

 /*FAQS*/
.faqs-content {
    background-color: var(--clr-primary-10);
    border-radius: var(--radius);
    
}
.faqs-content h3{
    
}
.question {
    padding: 1rem 1.5rem;
    border: 2px solid var(--clr-grey-special);
    margin-bottom: 1rem;
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
}

.question h4 {
    text-transform: none;
    line-height: 1.5;
}

.question p {
    color: var(--clr-grey-3);
    margin-bottom: 0;
    margin-top: 0.5rem;
}

.question header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question header h4 {
    margin-bottom: 0;
}
.i-btn {
    background: transparent;
    border-color: transparent;
    width: 2rem;
    height: 2rem;
    background: var(--clr-primary-5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--clr-red-special);
    cursor: pointer;
    margin-left: 1rem;
    align-self: center;
    min-width: 2rem;
}

/*Lets Talk section*/
@media screen and (min-width:800px) {
    /*Lets Talk section*/
    .lets-talk h2 {
        text-align: center;
    }
    .lets-talk .p {
        text-align: center;
    }
    .talk-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-evenly;
    }

    .e-talk{
        align-items: center;
    }
    .lets-talk .talk-content>*:nth-child(4){
        grid-column: 1 / span 3;
    }
    /*FAQS*/
    .faqs-content{
        display: grid;
        gap: 2rem;
        grid-template-columns: 330px 1fr;
    }
    .faq{
        border-radius: var(--radius);
        padding: 0.875rem;
    }
    .ask-quiz{

    }
    .ans-accord{
        
    }
    
}