
@media screen and (min-width:800px) {
    .list-cont{
        display:grid;
        grid-template-columns:20% 80%;
        
    }
    .menu-panel{

    }
    .content-panel{
        background-color: aqua;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 20px;
    }
    .oone{
        width: 30%;
        height: 200px;
        background-color: blue;
    }
}