/*HEADER SECTION ONE*/
.headingSection {
    min-height: 60vh;
    display: grid;
    place-items: center;
}
.content {
    padding: 20px;
}
.content a{
    font-size: 12px;
    letter-spacing: var(--spacing) !important;
    text-transform: uppercase !important;
}
/*SECTION THREE PROFILE*/
.p-section {
    background-color: var(--clr-primary-9);
}
@media screen and  (min-width: 800px){
    /*HEADER SECTION ONE*/
    .img-container, .content {

        padding: 20px;
    }
    .img-container {
        display: block;
        position: relative;
        padding: 20px;
    }

    .accent-img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 250px;
        transform: translateX(-50%);
        border-radius: var(--radius);
    }

    .img-container::before {
        content: '';
        position: absolute;
        width: 15%;
        height: 80%;
        background: var(--clr-primary-9);
        bottom: 0%;
        left: -8%;
        border-radius: var(--radius);
    }
        /*SECTION THREE PROFILE*/
    .h-profile{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem;
    }
}