.footerContainer{
    background-color: var(--clr-green-dark);
}
.socialIcons{
    background-color: black;
}

@media screen and(min-width:800){
    .social-icons {
            display: flex;
    }
    
    .social-icons a {
        margin: 0 0.5rem;
        color: var(--clr-primary-5);
        transition: var(--transition);
    }

    .social-icons a:hover {
        color: var(--clr-primary-7);
    }
}