/*
/*
=============== 
Variables
===============
=============== 
Global Styles
===============
*/
:root {
  /* dark shades of primary color*/
  --glr-primary-1: hsl(162, 61%, 89%);
  --glr-primary-2: hsl(162, 60%, 78%);
  --glr-primary-3: hsl(162, 61%, 67%);
  --glr-primary-4: hsl(162, 61%, 57%);
  /*gprimary/main color */
  --glr-primary-5: hsl(162, 73%, 46%);
  /*glighter shades of primary color */
  --glr-primary-6: #1aa179;
  --glr-primary-7: #13795b;
  --glr-primary-8: #0d503c;
  --glr-primary-9: #06281e;

  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);

  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --transform: scale(0.98);
  --spacing: 0.1rem;
  --radius: 0.50rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  --max-width: 1170px;
  --fixed-width: 450px;
  --clr-pink: #f28ab2;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none; 
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
/*Paragraph fonts*/
.lead {
  font-size: 20px;
}

.sm {
  font-size: 1rem;
}

.md {
  font-size: 2rem;
}

.lg {
  font-size: 3rem;
}

.xl {
  font-size: 4rem;
}

/*margin on the y-axis*/
.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

/*Margin all round*/
.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

/*Padding*/
.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

/*Padding all round*/
.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}
.underline {
  margin: 20px 0px 20px 0px ;
  width: 6rem;
  height: 0.25rem;
  background: #49a6e9;
  background-color: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}
.border{
  width: 100%;
  height: 1px;
  background: var(--clr-grey-6);
}
/*SECTION*/
.img-container {
  display: none;
  padding: 20px;
}

.p-talk {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  padding: 0.875rem;
  background-color: var(--clr-primary-7);
  border-radius: var(--radius);
}
@media screen and (min-width:800px) {
  h1 {
    font-size: 4rem;
  }
  
  h2 {
    font-size: 2.5rem;
  }
  
  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
  .mainsection {
    height: calc(100vh - 5rem);
    display: grid;
    gap: 8rem;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    line-height: 1.5rem;
  }

  .main-img {
    width: 100%;
    height: 550px;
    position: relative;
    border-radius: var(--radius);
    display: block;
    object-fit: cover;
  }
  .talk {
    display: flex;
    flex-direction: column;
    height: 350px;
    margin: 20px;
    padding: 2.5rem 2rem;
    text-align: center;
  }
}

/*Buttons*/
.main-icon {
  width: 4rem;
  height: 4rem;
  display: grid;
  margin: 0px auto 1rem;
  place-items: center;
  border-radius: 50%;
  background: var(--clr-primary-9);
  color: var(--clr-primary-1);
}
.main-icon:hover{
  transform: var(--transform);
  cursor:pointer;
}
.share-icon{
  display: flex;
  flex-wrap: wrap;

}
.btn {
  display: inline-block;
  padding: 10px 30px;
  width: auto;
  background-color: var(--clr-primary-5);
  color: var(--foreColor);
  box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
  outline: none;
  cursor: pointer;
  border-radius: var(--radius);
}
.btn:hover {
  transform: var(--transform);
}

.btn-outline {
  background-color: transparent;
  border: solid var(--foreColor) 1px;
}
.g-btn{
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
}
.input{
  width: 300px;
  margin-right: 5px;
  outline: none;
  padding: 10px 20px;
  border-radius: var(--radius);
  transition: var(--transition);
  font-size: 15px;
  border: var(--clr-primary-5) solid 2px;
}
textarea {
  width: 300px;
  height: 100px;
  outline: none;
  border-radius: var(--radius);
  transition: var(--transition);
  font-size: 15px;
  border: var(--clr-primary-5) solid 2px;

}
/*Center Container*/
.cent-container{
  max-width: 1170px;
  margin: 0 auto;
}
.title{
  align-items: center;
  text-align: center;
}
/*LOADING*/
.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 4px solid #ccc;
  border-top-color: var(--clr-primary-5);
  animation: spinner 1.2s linear infinite;
}

/* display-products */
.display-products{
  background-color: white;
  padding: 2rem; 
  margin: 2rem;
  border: 1px solid red;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}